[build]
base = "frontend"
publish = "frontend"
command = "echo 'No build needed for static frontend.'"

[functions]
directory = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
